<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <meta charset="UTF-8">
    <title>Party New</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
    <div class="row1">
        <div th:if="${errors}">
            <p th:each="error : ${errors}" th:text="${error}">error</p>
        </div>

        <div th:object="${project}">
            <h2>Add a project</h2>
            <form th:action="@{|/admin/projectadd|}" method="post">
                <div class="startgrid">

                    <label for="name" class="firstcol">Name: </label>
                    <input class="secondcol inputfield" type="text" id="name" th:field="*{project_name}">

                    <label for="city" class="firstcol">City: </label>
                    <input class="secondcol inputfield" type="text" id="city" th:field="*{city}">

                    <label for="info" class="firstcol">Info: </label>
                    <input class="secondcol inputfield" type="text" id="info" th:field="*{info}">

                    <select id="internal" class="secondcol" name="internal">
                        <option th:value="true">Yes</option>
                        <option th:value="false">No</option>
                    </select>

                    <label for="length" class="firstcol">Length in days: </label>
                    <input class="secondcol inputfield" type="number" id="length" th:field="*{length_in_days}">

                    <select  id="leaderId" class="secondcol" name="leaderId">
                        <option th:each="leader : ${leaders}" th:value="${leader.id}" th:text="${leader.name}"></option>
                    </select>



                </div>

                <div>
                    <a class="buttonLook smallButton" th:href="@{|/projectlist|}">Cancel</a>
                </div>
                <div>
                    <input type="submit" class="submitButton" value="Create">
                </div>
            </form>


        </div>
    </div>
</main>
</body>
</html>