<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <title>Home</title>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>
<main>

    <div id="WhoAmI">
        <div id="WhoAmIText">
            <h1>Janisons</h1>
            <p>Hello and welcome to Janisons, we stand for innovation and productivity!</p>
            <p>This website serves as a public roadmap to let you know what we will be planning in the future and what will happen to the company.</p>
        </div>
    </div>

</main>


</body>
</html>