<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <title>Leader details</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>

    <div th:if="${errors}">
        <p th:each="error : ${errors}" th:text="${error}">error</p>
    </div>

    <div th:if="${leader!=null}">


        <h1 th:text="${leader.name}">Leader name</h1>
        <div class="startgrid">

            <p>Position: </p>
            <p class="secondcol" th:text="${leader.position}">Bio</p>

            <p>E-Mail: </p>
            <p class="secondcol" th:text="${leader.email}">Date</p>

        </div>

        <div class="ProjectList" th:if="${projects}">
            <h2>Projects: </h2>
            <div class="projectButtons" th:each="project : ${projects}">
                <a class="projectButton"
                   th:href="@{|/projectdetails/${project.id}}"
                   th:text="|${project.project_name}|">Project name</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>