<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <title>Project list</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
    <div class="ProjectGrid">
        <div class="projectButtons" th:each="meeting : ${meetings}">

            <a class="projectButton fullSize" th:href="@{|/meetingdetails/${meeting.id}|}"
               th:text="|${meeting.name}|">Project name</a>

        </div>
    </div>

</main>
</body>
</html>