<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <title>Project details</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>

    <div th:if="${errors}">
        <p th:each="error : ${errors}" th:text="${error}">error</p>
    </div>

<div th:if="${project!=null}">
<div class="projectButtons">
    <form th:if="${index==1}" th:action="@{|/projectdetails/${(count)}|}">
        <input type="submit" value="<"/>
    </form>

    <form th:if="${index!=1}" th:action="@{|/projectdetails/${(index+-1)}|}">
        <input type="submit" value="<"/>
    </form>


    <form th:if="${count==index}" th:action="@{|/projectdetails/1|}">
        <input type="submit" value=">"/>
    </form>

    <form th:if="${count!=index}" th:action="@{|/projectdetails/${(index+1)}|}">
        <input type="submit" value=">"/>
    </form>
</div>
    <div class="startgrid">
        <p>Project name: </p>
        <p class="secondcol" th:text="${project.getProject_name()}">Project name</p>

        <p>City: </p>
        <p class="secondcol" th:text="${project.getCity()}">City</p>

        <p>Info: </p>
        <p class="secondcol" th:text="${project.getInfo()}">Info</p>

        <p>Internal: </p>
        <p class="secondcol" th:text="${project.isInternal()}">Internal</p>

        <p>Length in days: </p>
        <p class="secondcol" th:text="${project.getLength_in_days}">Length of project</p>

    </div>
</div>
</main>
</body>
</html>