<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/stylesheets :: stylesheet"></div>
    <title>Project list</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main>
<div id="ProjectList">
    <div class="projectButtons" th:each="projectName, iStat : ${projectNames}">

        <a class="projectButton" th:href="@{|/projectdetails/${iStat.index}|}"
           th:text="|${projectName}|">Project name</a>

    </div>
</div>

</main>
</body>
</html>